@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.enlaces,
.desordenada,
.desordenada li,
.logo,
.logo a {
  display: inline;
}
.desordenada {
  list-style: none;
}
.desordenada a {
  text-decoration: none;
  padding: 0 45px;
  font-size: 1.4rem;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
}
.desordenada a:hover {
  color: #eb2727b7;
  border-bottom: 1px solid rgb(252, 0, 0);
  transition: 1.5s;
}
.navbar {
  top: 01px;
  position: sticky;
  width: 100%;
  height: 10vh;
  background-color: rgba(41, 41, 41, 0.219);
}
.enlaces {
  margin-left: 300px;
  line-height: 10vh;
}
.logo {
  line-height: 10vh;
  margin-left: 20px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  color: #dd5151b7;
  font-family: "Oswald", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#27404600, #e6dada00), url(/img/portada4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.texto {
  text-align: center;
  font-size: 40px;
  padding: 150px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 2px 5px black;
}
.carrusel {
  width: 100%;
  height: 100vh;
}
.footer {
  width: 100%;
  height: 30vh;
  background: rgba(0, 0, 0, 0.747);
  display: flex;
  flex-direction: row;
}

.redes {
  width: 33%;
  text-align: center;
  padding: 50px;
  color: white;
}
.nosotros {
  width: 33%;
  text-align: center;
  padding: 30px;
  color: white;
}
.nosotros h2 {
  text-decoration: underline;
  padding: 5px;
  font-size: 30px;
  color: white;
}
.nosotros a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}
.politicas {
  width: 33%;
  padding: 40px 70px;
}
.politicas a {
  display: block;
  text-decoration: none;
  color: white;
}
.terminos-condiciones {
  width: 100%;
  height: 3vh;
  background-color: #eb2727b7;
  text-align: center;
  font-weight: bold;
}

.formulario {
  width: 50%;
  height: 70vh;
  padding: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin: 50px auto;
  box-shadow: 0 0 10px black;
}
.formulario input {
  padding: 10px;
  margin: 10px;
  width: 60%;
}
