@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .enlaces,
.desordenada,
.desordenada li,
.logo,
.logo a {
  display: inline;
} */
.desordenada {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.desordenada a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
}
.desordenada li {
  padding: 15px 32px;
}
.desordenada a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  transition: 1s ease-in-out;
  display: block;
}
.desordenada a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}
/* .desordenada a:hover {
  color: #eb2727b7;
  border-bottom: 1px solid rgb(252, 0, 0);
  transition: 1.5s;
} */
.navbar {
  top: 01px;
  position: sticky;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.219);
  display: flex;
  justify-content: space-between;
}
.enlaces {
  margin-left: 300px;
}
.logo {
  line-height: 10vh;
  margin-left: 20px;
  display: flex;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  color: rgba(221, 81, 81, 0.718);
  font-family: "Oswald", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#27404600, #e6dada00), url(/img/portada4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.texto {
  text-align: center;
  font-size: 40px;
  padding: 150px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 2px 5px black;
}
.carrusel {
  width: 100%;
  height: 100vh;
}
.footer {
  width: 100%;
  height: 30vh;
  background: rgba(0, 0, 0, 0.747);
  display: flex;
  flex-direction: row;
}

.redes {
  width: 33%;
  text-align: center;
  padding: 50px;
  color: white;
}
.nosotros {
  width: 33%;
  text-align: center;
  padding: 30px;
  color: white;
}
.nosotros h2 {
  text-decoration: underline;
  padding: 5px;
  font-size: 30px;
  color: white;
}
.nosotros a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}
.politicas {
  width: 33%;
  padding: 40px 70px;
}
.politicas a {
  display: block;
  text-decoration: none;
  color: white;
}
.terminos-condiciones {
  width: 100%;
  height: 3vh;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-weight: bold;
}
.contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.titulo-contacto {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}
.formulario {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 100px auto;
}
.formulario input {
  padding: 12px 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: #e9e9e9;
}
input[type="submit"] {
  width: 200px;
  color: white;
  border-radius: 5px;
  background: rgb(84, 85, 87);
  margin: 10px auto;
}

.ubicacion {
  margin: 100px 0 100px 50px;
  box-shadow: 0 0 10px black;
}
#comentario {
  padding: 10px;
  margin: 0 auto;
  background: #e9e9e9;
}
