@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .enlaces,
.desordenada,
.desordenada li,
.logo,
.logo a {
  display: inline;
} */

body {
  background: #fffcfc;
}
.desordenada {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.desordenada a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
}
.desordenada li {
  padding: 15px 32px;
}
.desordenada a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: white;
  transition: 0.5s ease-in-out;
  display: block;
}
.desordenada a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}
/* .desordenada a:hover {
  color: #eb2727b7;
  border-bottom: 1px solid rgb(252, 0, 0);
  transition: 1.5s;
} */
.navbar {
  top: 01px;
  /* position: sticky; */
  width: 100%;
  background-color: rgba(41, 41, 41, 0.219);
  display: flex;
  justify-content: space-between;
}

.enlaces {
  margin-left: 300px;
}
.logo {
  line-height: 10vh;
  margin-left: 20px;
  display: flex;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  color: #fffcfc;
  font-family: "Oswald", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#27404600, #e6dada00),
    url(../img/portadas/portada-iphone-oscuro.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.ola {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.texto {
  text-align: center;
  font-size: 40px;
  padding: 150px;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 2px 5px black;
}
.ofertas {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.oferta {
  width: 30%;
  height: 90%;
  border: 1px solid black;
  background: rgb(150, 150, 150);
  box-shadow: 0 0 10px 3px black;
}
.oferta-img {
  width: 100%;
  height: 75%;
  background: url(/img/xiaomi/13pro/13problanco.png);
  background-color: white;
  background-position: center;
  background-size: cover;
}
.servicio {
  width: 100%;
  height: 100vh;
}
.envios {
  margin: 20px;
}
.paquete {
  width: 100px;
}

.footer {
  width: 100%;
  height: 30vh;
  background: #525151;
  display: flex;
  flex-direction: row;
}

.redes {
  width: 33%;
  text-align: center;
  padding: 50px;
  color: #020102;
}
.nosotros {
  width: 33%;
  text-align: center;
  padding: 30px;
  color: #020102;
}
.nosotros h2 {
  text-decoration: underline;
  padding: 5px;
  font-size: 30px;
  color: #020102;
}
.nosotros a {
  display: block;
  text-decoration: none;
  color: #020102;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}
.politicas {
  width: 33%;
  padding: 40px 70px;
}
.politicas a {
  display: block;
  text-decoration: none;
  color: #020102;
}
.terminos-condiciones {
  width: 100%;
  height: 3vh;
  background-color: #050505;
  color: #f8f8f8;
  text-align: center;
  font-weight: bold;
}
.contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.titulo-contacto {
  text-align: center;
  font-size: 1.6rem;
  margin: 15px auto;
}
.formulario {
  justify-content: center;
  width: 40%;
  height: 480px;
  margin: 60px 0px 0px 30px;
  border: solid 1px black;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0 10px black;
}
.formulario input {
  display: block;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  background: #e9e9e9;
  border: none;
  outline: none;
}
input[type="submit"] {
  width: 200px;
  color: white;
  border-radius: 10px;
  background: rgb(30, 32, 34);
  margin: 0px auto;
}
input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.329);
  cursor: pointer;
  color: black;
}
#comentario {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  background: #e9e9e9;
  border: none;
  outline: none;
}

.ubicacion {
  width: 50%;
  height: 70%;
  margin: 30px 30px 0 0px;
}
.mapa {
  width: 100%;
  height: 100%;
}

.celulares {
  width: 100%;
}

.sidebar {
  width: 20vw;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  padding: 50px;
  transform: translate(-100%);
  transition: transform 1s ease-in-out;
  position: fixed;
}
.sidebar ul {
  list-style: none;
}

.sidebar a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  margin: 80px auto;
}
.hamburguer {
  color: rgb(236, 230, 230);
  width: 30px;
  height: 30px;
  border: 1px solid rgb(3, 3, 3);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(3, 3, 3);
  position: fixed;
  cursor: pointer;
  top: 80px;
  left: 20px;
}
.rojo {
  border: solid 1px white;
  background: white;
}
.aparecer {
  transform: translate(0%);
}

.tarjetas {
  /* margin-left: 15vw; */
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nokia,
.iphone,
.xiaomi,
.samsung {
  width: 500px;
  height: 400px;
  overflow: hidden;
  margin: 15px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}
.iphone-img {
  width: 100%;
  height: 100%;
  background-image: url(/img/tarjetas/Iphone\ portada.jpg);
  background-size: cover;
  background-position: center;
}

.nokia-img {
  width: 100%;
  height: 100%;
  background: url(/img/tarjetas/Nokia\ portada.jpg);
  background-size: cover;
  background-position: center;
}
.nokia-img:hover,
.samsung-img:hover,
.xiaomi-img:hover,
.iphone-img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.9s;
}

.xiaomi-img {
  width: 100%;
  height: 100%;
  background: url(/img/tarjetas/xiaomi13.jpg);
  background-size: cover;
  background-position: center;
}
.samsung-img {
  width: 100%;
  height: 100%;
  background: url(/img/tarjetas/Samsung\ portada.jpg);
  background-size: cover;
  background-position: center;
}

.sobre-xiaomi {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(65, 65, 65, 0.103), rgba(56, 56, 56, 0.205)),
    url(/img/xiaomi/xiaomi-portada-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.xiaomi-title {
  text-align: center;
  font-size: 6rem;
  color: white;
}

.xiaomi-text {
  text-align: center;
  color: white;
  margin-top: 170px;
}
.xiaomi-p {
  font-size: 3rem;
}
.xiaomi-section {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.xiaomi-tarjeta {
  margin: 10px 3px;
  width: 33%;
  height: 500px;
  /* border-radius: 20px; */
  background: rgb(255, 253, 253);
  overflow: hidden;
}

.redmi12 {
  background: url(/img/xiaomi/xiaomi12ultra/xiaomi_12sultra.png);
}
.redmi10 {
  background: url(/img/xiaomi/redmi10/portada.jpg);
}
.redmi11p {
  background: url(/img/xiaomi/11t/11tportada.jpg);
}
.redmi11 {
  background: url(/img/xiaomi/m11/MI11ultrablanco.png);
}
.redmi13 {
  background: url(/img/xiaomi/13pro/13problanco-r.png);
}
.redmi8 {
  background: url(/img/xiaomi/redminote8/redminote8portada.jpg);
}
.img {
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.text {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-style: bold;
}

.img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.tarjeta-button {
  display: block;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.tarjeta-button:hover {
  cursor: pointer;
  transition: 1s;
  background-color: rgb(1, 83, 236);
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
    background-color: rgba(41, 41, 41, 0.452);
    justify-content: center;
    text-align: center;
  }
  .logo {
    display: none;
  }
  .enlaces {
    display: flex;
    margin: 0;
  }
  .desordenada {
    flex-direction: column;
  }
  .desordenada a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.541);
  }
  .desordenada li {
    padding: 10px 20px;
  }
  .contacto {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .titulo-contacto {
    text-align: center;
    font-size: 1.6rem;
    margin: 15px auto;
  }
  .formulario {
    justify-content: center;
    width: 70%;
    height: 50%;
    margin: 30px 0px;
    border: solid 1px black;
    border-radius: 15px;
    background: white;
    box-shadow: 0 0 10px black;
  }
  .formulario input {
    display: block;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    background: #e9e9e9;
    border: none;
    outline: none;
  }
  input[type="submit"] {
    width: 200px;
    color: white;
    border-radius: 10px;
    background: rgb(30, 32, 34);
    margin: 20px auto;
  }
  input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.329);
    cursor: pointer;
    color: black;
  }
  #comentario {
    display: block;
    width: 90%;
    height: 250px;
    padding: 10px;
    margin: 0 auto;
    background: #e9e9e9;
    border: none;
    outline: none;
  }

  .ubicacion {
    width: 70%;
    height: 35%;
    margin-bottom: 20px;
  }
  .mapa {
    width: 100%;
    height: 100%;
  }

  .xiaomi-section {
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .xiaomi-tarjeta {
    margin: 20px 0px 0px 0px;
    width: 35%;
    height: 25%;
    /* border-radius: 20px; */
    background: rgb(255, 253, 253);
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#27404600, #e6dada00),
      url(/img/portadas/portada-iphone-oscuro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
  }
  .ola {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .texto {
    text-align: center;
    font-size: 1.7rem;
    padding: 40px;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-shadow: 0 2px 5px black;
  }

  .ofertas {
    width: 100%;
    height: 170vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .oferta {
    width: 80%;
    height: 30%;
    border: 1px solid black;
    background: rgb(150, 150, 150);
    box-shadow: 0 0 10px 3px black;
    margin-bottom: 20px;
  }
  .oferta-img {
    width: 100%;
    height: 70%;
    background: url(/img/xiaomi/13pro/13problanco.png);
    background-color: white;
    background-position: center;
    background-size: cover;
  }

  .footer {
    width: 100%;
    background: #525151;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .redes {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #020102;
  }
  .nosotros {
    width: 100%;
    text-align: center;
    padding: 0px;
    color: #020102;
  }
  .nosotros h2 {
    text-decoration: underline;
    padding: 23px;
    font-size: 18px;
    color: #020102;
  }
  .nosotros a {
    display: block;
    text-decoration: none;
    color: #020102;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }
  .politicas {
    width: 20%;
    padding: 20px 20px 20px 0;
  }
  .politicas a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #020102;
  }
  .terminos-condiciones {
    width: 100%;
    height: 10vh;
    background-color: #050505;
    color: #f8f8f8;
    text-align: center;
    margin: 0;
  }
  .sidebar {
    width: 35vw;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transform: translate(-100%);
    transition: transform 1s ease-in-out;
    position: fixed;
  }
  .sidebar ul {
    list-style: none;
  }

  .sidebar a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    margin: 130px auto;
  }
  .tarjetas {
    /* margin-left: 15vw; */
    width: 80vw;
    height: 250vh;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .nokia,
  .iphone,
  .xiaomi,
  .samsung {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
  }
  .contacto {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .titulo-contacto {
    text-align: center;
    font-size: 1.6rem;
    margin: 15px auto;
  }
  .formulario {
    justify-content: center;
    width: 70%;
    height: 50%;
    margin: 30px 0px;
    border: solid 1px black;
    border-radius: 15px;
    background: white;
    box-shadow: 0 0 10px black;
  }
  .formulario input {
    display: block;
    padding: 8px;
    width: 90%;
    margin: 0 auto;
    background: #e9e9e9;
    border: none;
    outline: none;
  }
  input[type="submit"] {
    width: 150px;
    color: white;
    border-radius: 10px;
    background: rgb(30, 32, 34);
    margin: 0px auto;
  }
  input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.329);
    cursor: pointer;
    color: black;
  }
  #comentario {
    display: block;
    width: 90%;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    background: #e9e9e9;
    border: none;
    outline: none;
  }
}
